// common presets
.imgResponsive
	display: block
	max-width: 100%
	height: auto

//animationPopup class
.mfp-zoom-in 
	/* start state */
	/* animate in */
	/* animate out */

.mfp-zoom-in .mfp-with-anim
	opacity: 0
	transition: all 0.2s ease-in-out
	transform: scale(0.8)

.mfp-zoom-in.mfp-bg
	opacity: 0
	transition: all 0.3s ease-out

.mfp-zoom-in.mfp-ready .mfp-with-anim
	opacity: 1
	transform: scale(1)

.mfp-zoom-in.mfp-ready.mfp-bg
	opacity: 0.8

.mfp-zoom-in.mfp-removing .mfp-with-anim
	transform: scale(0.4)
	opacity: 0

.mfp-zoom-in.mfp-removing.mfp-bg
	opacity: 0

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg
	opacity: 0
	-webkit-backface-visibility: hidden
	-webkit-transition: all 0.3s ease-out
	-moz-transition: all 0.3s ease-out
	-o-transition: all 0.3s ease-out
	transition: all 0.3s ease-out

.mfp-with-zoom.mfp-ready .mfp-container
	opacity: 1

.mfp-with-zoom.mfp-ready.mfp-bg
	opacity: 0.8

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg
	opacity: 0
	
.mfp-figure:after
	background: rgba(0,0,0,0)
	box-shadow: 0 0 0 rgba(0,0,0,0)

input[type='number'] 
	-moz-appearance: textfield

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
	-webkit-appearance: none

.disable-hover, .disable-hover * 
	pointer-events: none !important
	-webkit-touch-callout: none !important
	-webkit-user-select: none !important
	-khtml-user-select: none !important
	-moz-user-select: none !important
	-ms-user-select: none !important
	user-select: none !important
.userSelect
	-webkit-touch-callout: none !important
	-webkit-user-select: none !important
	-khtml-user-select: none !important
	-moz-user-select: none !important
	-ms-user-select: none !important
	user-select: none !important

