//added fonts	

@font-face 
	font-family: "fontello"
	font-display: swap
	src: url("/fonts/fontello/font/myicon.eot")
	src: url("/fonts/fontello/font/myicon.eot?#iefix")format("embedded-opentype"),
	url("/fonts/fontello/font/myicon.woff")format("woff"),
	url("/fonts/fontello/font/myicon.ttf")format("truetype"),
	url('/fonts/fontello/font/myicon.svg?76085440#fontello') format('svg')
	font-style: normal
	font-weight: normal


// @font-face
// 	font-family: "Wide_Latin"
// 	font-display: swap
// 	src: url("/fonts/Wide_Latin/Wide_Latin.ttf")format("truetype")

