//added fonts	
@font-face 
	font-family: "RobotoRegular"
	src: url("/fonts/RobotoRegular/RobotoRegular.eot")
	src: url("/fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("/fonts/RobotoRegular/RobotoRegular.woff")format("woff"),
	url("/fonts/RobotoRegular/RobotoRegular.ttf")format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: "montserrat_italic"
	src: url("/fonts/Montserrat-Italic/Montserrat-Italic.ttf")format("truetype")

@font-face
	font-family: "Wide_Latin"
	src: url("/fonts/Wide_Latin/Wide_Latin.ttf")format("truetype")

@font-face
	font-family: "Titillium_Web"
	src: url("/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf")format("truetype")

@font-face
	font-family: "LLLisa"
	src: url("/fonts/LLLisa/LLLisa.ttf")format("truetype")
